.box{
  width: 30%;
  margin: 20px;
  display: inline-block;
}

.center {
  width: 100%;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .provinces {
    text-align: left;
  }

  .cases {
    text-align: right;
  }
}
