.header {
  background-color: #2baeff;
  color: white;
}

.logo {
  padding-right: 10px;
}

.students {
  display: block;
  margin-left: auto;
  text-align: right;
  font-size: small;
  line-height: 20px;
}
